.orderfield-uppercase {
  text-transform: uppercase;
}

.clase {
  padding: 0px !important;
  width: 100% !important;
  padding-left: 0px !important;
  display: block !important;
  height: auto !important;
  padding-bottom: 0 !important;
  overflow: visible !important;
  border-top: 0 !important;
  box-shadow: none !important
}

.help-block {
  font-size: 11px;
  color: #da211e;
  margin: 0px;
  padding: 0px;
}

.blocklabel {
  font-size: 11px;
  color: #a7a2a2;
  margin: 0px;
  padding: 0px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.green {
  color: #5cb85c;
}

.red {
  color: #DF013A;
}


.measureButtons>div>span {
  font-size: 9px;
  text-align: center;
  width: 60px;
  max-height: 40px;
  line-height: 10px;
  margin-top: 6px;
  margin-left: 15px;
}

button {
  margin-left: 5px
}


.form-hint {
  font-size: 7pt;
  line-height: 9pt;
  margin: -5px auto 5px;
  color: #999;
  margin-top: 5px;
}

.form-hint.error {
  color: #C00;
  font-weight: bold;
  font-size: 8pt;
}

.password-count {
  float: right;
  position: relative;
  bottom: 24px;
  right: 10px;
}

.strength-meter {
  position: relative;
  height: 4px;
  background: #DDD;
  margin: 5px auto 5px;
  border-radius: 3px;
}

.strength-meter:before,
.strength-meter:after {
  content: '';
  height: inherit;
  background: transparent;
  display: block;
  border-color: #FFF;
  border-style: solid;
  border-width: 0 5px 0 5px;
  position: absolute;
  width: 80px;
  z-index: 10;
}

.strength-meter:before {
  left: 50px;
}

.strength-meter:after {
  right: 50px;
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
}

.strength-meter-fill[data-strength='0'] {
  background: darkred;
  width: 20%;
}

.strength-meter-fill[data-strength='1'] {
  background: orangered;
  width: 40%;
}

.strength-meter-fill[data-strength='2'] {
  background: orange;
  width: 60%;
}

.strength-meter-fill[data-strength='3'] {
  background: yellowgreen;
  width: 80%;
}

.strength-meter-fill[data-strength='4'] {
  background: green;
  width: 100%;
}

.patienview {
  height: calc(100% - 178px);
}

.inpatientview {
  height: calc(100% - 79px);
}

.mat-button-toggle-checked {
  background-color: #286090 !important;
  border-color: #286090 !important;
  font-weight: 500;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #449d44 !important;
  background-color: #449d44 !important;
}

.demo-chart {
  height: 270px;
}

.md-btn {
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.md-list-addon>li {
  margin-left: 64px;
  position: relative;
}

.md-list .uk-nestable-list>li, .md-list>li {
  min-height: 48px;
  padding: 8px 4px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.12);
  position: relative;
}

.md-list-addon-element {
  display: inline-table;
  left: 0px;
  top: -1px;
  bottom: -1px;
  text-align: center;
}

.md-list .uk-nestable-list>li>.md-list-content .md-list-heading, .md-list>li>.md-list-content .md-list-heading {
  margin: 0;
  font-weight: 500;
  display: block;
  overflow: hidden;
  padding-bottom: 1px;
}

.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.example-accordion-item-description {
  font-size: 10px;
  color: #6c6c6c;
  text-align-last: center;
  font-weight: 500;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select-test {
  height: 17px;
  width: 17px;
}

.td-check {
  width: 2% !important;;
  padding: 0px 5px !important;;
}
