<ng-template #customTemplate let-options="options">
    <div [class]="'popover ' + options.placement" style="display: block">
        <div class="arrow"></div>
        <div class="popover-inner">
            <h3 class="popover-title">Comprobación de seguridad CAPTCHA</h3>
            <div class="popover-content">
                <form id="contactForm1">
                    <div class="col-sm-12" style="padding-right: 0px;padding-left: 0px;">
                        <input style="margin-top: 10px;" type="text" class="form-control"
                            placeholder="Escribe el texto de la imagen" name="captcha" id="bloquear" autocomplete="off"
                            [value]="captchadata" (keyup)="changueValidate($event)">
                    </div>
                    <div class="col-sm-12" style="padding-right: 0px;padding-left: 0px;">
                        <input type="text" class="form-control" [value]="code" oncopy="return false"
                            onpaste="return false" autocomplete="off"
                            style="margin-bottom: 0px;width: 218px; height: 61px; font-size: 24px; font-weight: bolder; text-decoration: line-through; display: inline-block; background-color: #f5f5f5;"
                            id="mainCaptcha" disabled="true">
                    </div>
                    <div class="col-sm-12">
                        <div class="row" style="padding: 15px;margin-top: 12px;">
                            <span class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refrescar"
                                (click)="Captcha()"
                                style="font-size: 24px;color: rgb(92 81 81 / 87%);float: left;margin-left: 10px;"></span>
                            <button class="btn btn-primary" [disabled]="captchadata==''" style="float: right;"
                                type="button" (click)="validCaptcha()" type="button">Verificar</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="errorcaptchan">
                        <strong>Captcha ingresado no es válido</strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<div class="form-group">
    <div class="col-xs-11 text-left capchatbackgtound">
        <div class="col-xs-9 text-left" style="margin-top: 10px;">
            <button mwlConfirmationPopover placement="top" [customTemplate]="customTemplate" type="button"
                *ngIf="!validatedcapchat" class="btn btn-default capchabuttonpopover" (click)="Captcha()">
            </button>
            <span class=" glyphicon glyphicon-ok capchabuttonreffres" data-toggle="tooltip"
                *ngIf="validatedcapchat"></span>
            <label style="margin-left: 10px;">{{'0237' | translate}}</label>
        </div>
        <div class="col-xs-3 text-right">
            <img class="img-responsive capchaimagen" src="assets/images/captcha.png" />
        </div>
    </div>
</div>
