<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <ul class="md-listul">
      <li class="md-listli">
          <div class="md-listdi">
              <img class="md-user-image md-list-addon-avatar" alt="" src="images/analytics.png" width="34" height="34">
          </div>
          <div class="md-listcontent">
              <span class="md-listheading" >{{vm.navline.title}}</span>
              <span class="uk-text-small">{{vm.navline.patientid}}</span>
          </div>
      </li>
    </ul>
  </div>
</nav>
